* {
    margin: 0;
    padding: 0;
}

.con1 {
    border: 1px solid #888686;
    box-sizing: border-box;

    position: absolute;
    width: 1366px;
    height: 165px;
    left: 0px;
    top: 0px;

}

.jdl {
    position: absolute;
    width: 320px;
    height: 56px;
    left: 560px;
    top: 21px;
}

.jdl h1 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(80, 79, 79, 0.63);
}

.grs {
    position: absolute;
    border: 1px solid black;
    width: 16.8%;
    margin-top: 5%;
    margin-left: 40%;
}

.opsi1 {
    display: flex;
    margin-top: 8%;
    margin-left: 21%;
}

.opsi1 h1 {
    font-size: 16px;
    width: 20%;
}

.srch1 {

    box-sizing: border-box;

    position: absolute;
    width: 261px;
    height: 56px;
    left: 1140px;
    top: 35px;

    border: 1px solid #B1AFAF;
    border-radius: 22px;
    margin-left: -10%;
}

.srch1 iconify-icon {
    font-size: 40px;
    margin-top: 3%;
    margin-left: 8%;
    color: wheat;
}

.srch1 h1 {
    position: absolute;
    font-size: 16px;
    margin-left: 40%;
    margin-top: -15%;
    color: wheat;
    font-family: pacifico;
}

.grs1 {
    border: 1px solid black;
    position: absolute;
    width: 100px;
    margin-top: 2%;
    margin-left: 29.8%;
}