body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}
.navbar{
    width: 500%;
    height: 160px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
}

.navbar p{
    font-size: 30px;
    font-family:'Pacifico', cursive;
    text-align: center;
    position: relative;
    left: 8.5%;
    margin-top: -20px;
}

.nav-link{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    left: 32%;
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: grey;
}
.text-link5 a{
    text-decoration: none;
}
.text-link5 a:hover{
    color: grey;
}
.title{
    position: relative;
    left: 6.5%;
    width: 87%;
}
.title h1{
    font-size: 40px;
    font-family: 'Lora', serif;
    margin: 0;
    box-sizing: border-box;
    padding-top: 30px;
}
#capt{
    position: relative;
    left: 6.5%;
}
.imagediv{
    width: 87%;
    margin-top: 3%;
    height: 600px;
}
.imagediv img{
    width: 100%;
    height: 100%;
}
.isi{
    font-family: 'Lora', serif;
    position: relative;
    left: 6.5%;
    width: 87%;        
}   
.para1, .para2{
    width: 81%;        
}
.footer{
    width:100%;
    height: 220px;
    background-color: #313131;
    position: absolute;
    top: 220%;
    display: flex;
    flex-direction: column;
}

.foot-link{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 4%;
}

.foot-link ul{
    display: flex;
    list-style: none;
}

.foot-link ul li a{
    text-decoration: none;
    color: #fff;
    padding: 40px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.footer p {
    font-family: Pacifico;
    margin-left: 4%;
    margin-top: 3%;
    font-size: 20px;
}

.border1 {
    border: 1px solid white;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 5%;
}
