body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}

.navbar{
    width: 1000%;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.navbar p{
    font-size: 30px;
    font-family:'Pacifico', cursive;
    text-align: center;
    position: relative;
    left: 530px;
    margin-top: -70px;
}

.nav-link{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    position: absolute;
    top: 140px;
    left: 400px;
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: grey;
}

#section1{
    background-image: url('/img/fashion.png');
    background-size: cover;
    height: 770px;
    width: 1301px;
}
#section1 button{
    width: 282px;
    height: 56px;
    margin-top: 696px;
    margin-left: 520px;
    border-radius: 25px;
    background-color: transparent;
    border-color: white;
}
#section2{
    background-image: url('/img/freestocks-_3Q3tsJ01nc-unsplash.png');
    background-size: cover;
    width: 1266px;
    height: 845px;
    left: 0;
    top: 970px;
}
#section2 button{
    width: 282px;
    height: 56px;
    border-radius: 25px;
    margin-top: 769px;
    margin-left: 200px;
    background-color: transparent;
    color: white;
    border-color: white;
}
.text{
    position: absolute;
    width: 186px;
    height: 64px;
    left: 56px;
    top: 1846px;
    font-family:'Lora', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: rgba(49, 49, 49, 0.86);
}
#section3{
    background-image: url('/img/photo_2022-09-30_14-06-00.png');
    background-size: 400px;
    position: absolute;
    width: 280px;
    height: 220px;
    left: 94px;
    top: 1941px;
}
#section4{
    background-image: url('/img/berlin-fashion-week-autumn-2015.png');
    position: absolute;
    width: 267px;
    height: 220px;
    left: 400px;
    top: 1941px;
}
#section5{
    background-image: url('/img/621319eeca7b2.png');
    background-size: cover;
    position: absolute;
    width: 330px;
    height: 220px;
    left: 690px;
    top: 1941px;
}
#section6{
    background-image: url('/img/036274500_1488368937-_MG_0553.png');
    background-size: cover;
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1040px;
    top: 1941px;
}
#section7{
    background-image: url('/img/katsiaryna-endruszkiewicz-BteCp6aq4GI-unsplash.png');
    background-size: contain;
    position: absolute;
    width: 186px;
    height: 250px;
    left: 90px;
    top: 1010px;
}
#section7 p{
    position: absolute;
    width: 86px;
    height: 36px;
    left: 0;
    top: 250px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: whitesmoke;
}
#section8{
    background-image: url('/img/reza-delkhosh-iRAOJYtPHZE-unsplash.png');
    background-size: contain;
    position: absolute;
    width: 230.97px;
    height: 250px;
    left: 360px;
    top: 1010px;
}
#section8 p{
    position: absolute;
    width: 86px;
    height: 43.1px;
    left: 0;
    top: 250px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: whitesmoke;
}
#section9{
    background-image: url('/img/mohamadreza-khashay-ziubUDopHmc-unsplash.png');
    background-size: contain;
    position: absolute;
    width: 197.69px;
    height: 246px;
    left: 664px;
    top: 1010px;
}
#section9 p{
    position: absolute;
    width: 86px;
    height: 50px;
    left: 0;
    top: 250px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: whitesmoke;
}
#section10{
    background-image: url('/img/tanya-layko-QINaeQQHghQ-unsplash.png');
    background-size: contain;
    position: absolute;
    width: 189px;
    height: 250px;
    left: 930px;
    top: 1010px;
}
#section10 p{
    position: absolute;
    width: 86px;
    height: 50px;
    left: 0;
    top: 250px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: whitesmoke;
}
.text-link1{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 230px;
    position: absolute;
    top: 2176px;
    left: 94px;
    line-height: 20px;
    font-weight: 600;

    color: #1d42c5;
}
.text-link1 a{
    text-decoration: none;
}
.text-link1 a:hover{
    color: grey;
}
.text-link2{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 230px;
    position: absolute;
    top: 2176px;
    left: 400px;
    line-height: 20px;
    font-weight: 600;

    color: #1d42c5;
}
.text-link2 a{
    text-decoration: none;
}
.text-link2 a:hover{
    color: grey;
}
.text-link3{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 230px;
    position: absolute;
    top: 2176px;
    left: 690px;
    line-height: 20px;
    font-weight: 600;

    color: #1d42c5;
}
.text-link3 a{
    text-decoration: none;
}
.text-link3 a:hover{
    color: grey;
}
.text-link4{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 230px;
    position: absolute;
    top:2176px;
    left: 1040px;
    line-height: 20px;
    font-weight: 600;

    color: #1d42c5;
}
.text-link4 a{
    text-decoration: none;
}
.text-link4 a:hover{
    color: grey;
}
.web1{
    position: absolute;
    width: 1500px;
    height: 38px;
    left: 93px;
    margin-top: 415px;
    font-family:'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: rgba(49, 49, 49, 0.6);
}
.web2{
    position: absolute;
    width: 1500px;
    height: 38px;
    left: 400px;
    margin-top: 415px;
    font-family:'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: rgba(49, 49, 49, 0.6);
}
.web3{
    position: absolute;
    width: 1500px;
    height: 38px;
    left: 689px;
    margin-top: 415px;
    font-family:'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: rgba(49, 49, 49, 0.6);
}
.web4{
    position: absolute;
    width: 1500px;
    height: 38px;
    left: 1040px;
    margin-top: 415px;
    font-family:'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: rgba(49, 49, 49, 0.6);
}
.viewers1{
    position: absolute;
    width: 158px;
    height: 26px;
    left: 1040px;
    margin-top: 440px;
    font-family:'Lora', serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(49, 49, 49, 0.6);
}
.viewers2{
    position: absolute;
    width: 158px;
    height: 26px;
    left: 92px;
    margin-top: 440px;
    font-family:'Lora', serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(49, 49, 49, 0.6);
}
.viewers3{
    position: absolute;
    width: 158px;
    height: 26px;
    left: 400px;
    margin-top: 440px;
    font-family:'Lora', serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(49, 49, 49, 0.6);
}
.viewers4{
    position: absolute;
    width: 158px;
    height: 26px;
    left: 688px;
    margin-top: 440px;
    font-family:'Lora', serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(49, 49, 49, 0.6);
}
.footer p{
    position: relative;
    width: 320px;
    height: 56px;
    left: 35px;
    top: 1000px;

    font-family:'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.footer{
    position: relative;
    width: 1440px;
    height: 300px;
    left: 0px;
    top: 2363px;
    background-color: #313131; 
}
