body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}

.navbar{
    width: 500%;
    height: 160px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
}

.navbar p{
    font-size: 30px;
    font-family:'Pacifico', cursive;
    text-align: center;
    position: relative;
    left: 8.5%;
    margin-top: -20px;
}

.nav-link{
    font-family: 'Lora', serif;
    font-size: 13px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    left: 32%;
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: grey;
}
.section1{
    background-image: url('fashion.png');
    background-size: cover;
    width: 100%;
    height: 750px;
    border-bottom: 1px solid #000000;
}

.section1 a button{
    margin-top: 47%;
    margin-left: 41.5%;
    width: 290px;
    height: 55px;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Lora', serif;
    border-radius: 28px;
    border: 2px solid #313131;
    cursor: pointer;
}
.section1 a button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.section2{
    background-image: url('mdl2.jpg');
    background-size: cover;
    width: 100%;
    height: 850px;
    border-bottom: 1px solid #000000;
}

#up{
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 34px;
    position: relative;
    top: 90px;
    margin: 0;
}
#story{
    font-family: 'Lora', serif;
    font-size: 45px;
    margin: 0;
    color: #313131;
    padding: 25px 0 25px 70px;
}
.iklan{
    background-color: transparent;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 5%;
    top: 180px;
    padding: 0;
    box-sizing: border-box;
}
.card .wrap{
    width: 275px;
    height: 290px;
    position: relative;
    top: 10px;
}
.card .wrap img{
    width: 100%;
    height: 100%;
}
.bkus{
    display: block;
    width: 260px;
    position: relative;
    font-size: 21px;
    font-family: 'Lora', serif;
    color: #ffffff;
}
.bkus a{
    font-size: 21px;
    text-decoration: none;
    font-family: 'Lora', serif;
    color: #ffffff;
}
.batas{
    position: relative;
    top: 10px;
    width: 220px;
}
.batas a{
    color: #1D42C5;
    font-size: 19px;
    font-family: 'Lora', serif;
}
.batas p{
    color: #313131b4;
    font-size: 16px;
    position: relative;
    top: -10px;
}
.btn{
    position: absolute;
    top: 115%;
    left: 40%;
}
.btn a button{
    width: 290px;
    height: 55px;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Lora', serif;
    color: #fff;
    border-radius: 28px;
    border: 2px solid #fff;
    cursor: pointer;
}
.btn a button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}
.section3{
    background-color: #fff;
    width: 100%;
    height: 520px;
    border-bottom: 1px solid #000000;
}
.containernews {
    position: relative;
    top: 5px;
    background-color: #fff;
    display: flex;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.containernews::-webkit-scrollbar{
    display: none;
}
.containernews .card{
    padding: 0 18px 0 18px;
}

.containernews .card .wrap{
    height: 160px;
    width: 250px;
}
.containernews .card .wrap img{
    height: 100%;
    width: 100%;
}
.footer{
    width:100%;
    height: 220px;
    background-color: #313131;
    position: relative;
    top: 0%;
    display: flex;
    flex-direction: column;
}
.foot-link{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 4%;
}

.foot-link ul{
    display: flex;
    list-style: none;
}

.foot-link ul li a{
    text-decoration: none;
    color: #fff;
    padding: 40px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.footer p {
    font-family: Pacifico;
    margin-left: 4%;
    margin-top: 3%;
    font-size: 20px;
}

.border1 {
    border: 1px solid white;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 5%;
}